<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:fragment="adminSidebar">
    <aside class="admin-sidebar">
        <div class="admin-nav">
            <a href="/admin/home" th:text="#{fragment.admin.navbar.dashboard}"></a>
            <a href="/admin/categories" th:text="#{fragment.admin.navbar.categories}">Categories</a>
            <a href="/admin/products" th:text="#{fragment.admin.navbar.products}"></a>
            <a href="/admin/users" th:text="#{fragment.admin.navbar.users}">Users</a>
            <a href="/logout">Logout</a>
            <a href="?lang=en">EN</a>
            <a href="?lang=ru">RU</a>
            <a href="?lang=hy">HY</a>
        </div>
    </aside>
</div>
</body>
</html>
